<p>This is the Power Mode extension for Visual Studio to replicate the effects from <a href="https://github.com/codeinthedark/editor">codeinthedark/editor</a>.</p>
<p>Inspired by the Power Mode Extension for Atom, which can be found <a href="https://atom.io/packages/activate-power-mode">here</a></p>
<h1 id="header-effects"><a href="#header-effects"></a>Effects</h1>
<h2 id="header-effects-exlposion"><a href="#header-effects-exlposion"></a>Particles & Screen Shake</h2>
<img src="https://i.github-camo.com/b1d03b9b7a9d7dc9a32d1eab307b5378f8c59a7b/68747470733a2f2f636c6f75642e67697468756275736572636f6e74656e742e636f6d2f6173736574732f3638383431352f31313631353536352f31306631363435362d396336352d313165352d386166342d3236356630316663383361302e676966" alt="exlposion effect">
<h2 id="header-effects-combomode"><a href="#header-effects-combomode"></a>Combo Mode</h2>
<img src="https://i.github-camo.com/ca572e22e64a42c44f59e1ebb40d4a1e1b748761/68747470733a2f2f636c6f75642e67697468756275736572636f6e74656e742e636f6d2f6173736574732f31303539303739392f31383831373233372f38373663326438342d383332312d313165362d383332342d6631353430363034633062642e676966" alt="Steak Counter">

<h1 id="header-installation"><a href="#header-installation"></a>Installation</h1>
<p>Soon will publish to <a href="https://visualstudiogallery.msdn.microsoft.com/">Visual Studio Gallery</a>.</p>
<p>For now, can only download the source code and build the vsix file to use.</p>

<h1 id="header-features"><a href="#header-features"></a>Features</h1>
<p>In current version, contains the following features:</p>
<ul>
  <li>Visual Studio menu to toggle the features. (See <a routerLink="/menu">Detail</a>)</li>
  <li>User Friendly Visual Studio Option to set the configurations of the features. (See Detail)</li>
  <li>Combo Mode. (See Detail)</li>
  <li>Streak Counter. (See Detail)</li>
  <li>Particles. (See Detail)</li>
  <li>Screen Shake. (See Detail)</li>
</ul>

<h1 id="header-vnext-features"><a href="#header-vnext-features"></a>Next Features</h1>
<p>The next version of this extension will have the following features:</p>
<ul>
  <li>Support multiple version of Visual Studio
    <ul>
      <li>Visual Studio 2010 (low priority)</li>
      <li>Visual Studio 2012 (middle priority)</li>
      <li>Visual Studio 2015 (high priority)</li>
    </ul>
  </li>
  <li>Store the Max Combo Streak (high priority)
    <ul>
      <li>Animation for New Records</li>
      <li>Can Reset Max Combo Streak</li>
    </ul>
  </li>
  <li>Play Audio Clip (middle priority)
    <ul>
      <li>Clip can be: Gun, Typewriter or Custom</li>
      <li>Related Options and Menu</li>
    </ul>
  </li>
  <li>Party Mode. When have so many text changed. (high priority)
    <ul>
      <li>Related Options and Menu</li>
    </ul>
  </li>
  <li>Excluded File Types (high priority)</li>
</ul>
