<p>The Power Mode extension have Visual Studio menu to toggle the features.</p>
<img src="images/menu.jpg" alt="toggle menu">

<h2 id="header-powermode"><a href="#header-powermode"></a>Enabled Menu</h2>
<p>The "Enabled" menu will be the main toggle to control if the Power Mode is enabled or not.</p>
<p>Same as the option page, when disabled the Power Mode, all other feature will be disabled.</p>

<h2 id="header-combomode"><a href="#header-combomode"></a>Combo Mode Menu</h2>
<p>The "Combo Mode" menu will be the toggle to control if the Combo Mode is enabled or not.</p>
<p><strong>Note:</strong></p>
<blockquote>
  <p>When Combo Mode is enabled, Particles and Screen Shake won't appear until reach the activation threshold.</p>
</blockquote>

<h2 id="header-particles"><a href="#header-particles"></a>Particles Menu</h2>
<p>The "Particles" menu will be the toggle to control if the show or not show the particles when detect user input.</p>

<h2 id="header-screenshake"><a href="#header-screenshake"></a>Screen Shake Menu</h2>
<p>The "Screen Shake" menu will be the toggle to control if shake or not shake the screen when detect user input.</p>
