<p>The Power Mode extension have Visual Studio menu to toggle the features.</p>
<img src="images/menu.jpg" alt="toggle menu">

<h1 id="header-explanation"><a href="#header-explanation"></a>Explanation</h1>
<h2 id="header-explanation-powermode"><a href="#header-explanation-powermode"></a>Enabled Menu</h2>
<p>The "Enabled" menu will be the main switch to control if the Power Mode is enabled or not.</p>
<p>Same as the option page, when disabled the Power Mode, all other feature will be disabled.</p>
