<p>The Power Mode extension have Visual Studio option pages to config features.</p>
<img src="images/option.jpg" alt="toggle button">

<h2 id="header-general"><a href="#header-general"></a>General Option</h2>
<p>The "General" is the default option page of Power Mode extension. It have 5 toggle button to toggle the features.</p>
<img src="images/option-general.jpg" alt="toggle button">

<h3 id="header-general-powermode"><a href="#header-general-powermode"></a>Enabled Toggle Button</h3>
<p>The "Enabled" toggle button will be the main toggle to control if the Power Mode is enabled or not.</p>
<p>Same as the option page, when disabled the Power Mode, all other feature will be disabled.</p>

<h3 id="header-general-combomode"><a href="#header-general-combomode"></a>Combo Mode Toggle Button</h3>
<p>The "Combo Mode" toggle button will be the toggle to control if the Combo Mode is enabled or not.</p>
<p><strong>Note:</strong></p>
<blockquote>
  <p>When Combo Mode is enabled, Particles and Screen Shake won't appear until reach the activation threshold.</p>
</blockquote>

<h3 id="header-general-particles"><a href="#header-general-particles"></a>Particles Toggle Button</h3>
<p>The "Particles" toggle button will be the toggle to control if the show or not show the particles when detect user input.</p>

<h3 id="header-general-screenshake"><a href="#header-general-screenshake"></a>Screen Shake Toggle Button</h3>
<p>The "Screen Shake" toggle button will be the toggle to control if shake or not shake the screen when detect user input.</p>
